<div *ngIf="!isShowLecturerRegistration" class="py-2 my-4 px-3 card" >
    <span>Lecturer Registration Form
      <i class="fa fa-plus-circle float-right pt-1" aria-hidden="true" (click)="handleOnIsLecturerRegistrationShow()"></i>
    </span>
</div>

<div *ngIf="isShowLecturerRegistration" class="py-4 my-4 px-3 card">
  <h3>
    Lecturer Registration
    <i class="fas fa-times-circle float-right" (click)="handleOnIsLecturerRegistrationShow()"></i>
  </h3>
  <div class="mb-3">
    <label for="lecturer_id" class="form-label">Id</label>
    <input [(ngModel)]="lecturerId" type="text" class="form-control" id="lecturer_id"
           placeholder="please enter Id">
  </div>
  <div class="mb-3">
    <label for="lecturer_name" class="form-label">Name</label>
    <input [(ngModel)]="lecturerName" type="text" class="form-control" id="lecturer_name"
           placeholder="please enter name">
  </div>
  <div class="mb-3">
    <label for="lecturer_contact" class="form-label">Contact</label>
    <input [(ngModel)]="lecturerContact" type="text" class="form-control" id="lecturer_contact"
           placeholder="please enter contact No">
  </div>
  <div class="mb-3">
    <label for="lecturer_nic" class="form-label">NIC</label>
    <input [(ngModel)]="lecturerNic" type="text" class="form-control" id="lecturer_nic"
           placeholder="please enter nic">
  </div>
  <div class="mb-3">
    <label for="lecturer_email" class="form-label">Email</label>
    <input [(ngModel)]="lecturerEmail" type="text" class="form-control" id="lecturer_email"
           placeholder="Please enter email">
  </div>
  <div class="mb-3">
    <label for="lecturer_birthday" class="form-label">Birthday</label>
    <input [(ngModel)]="lecturerBirthday" type="text" class="form-control" id="lecturer_birthday"
           placeholder="Please enter birthday">
  </div>
  <div class="mb-3">
    <label for="lecturer_password" class="form-label">Password</label>
    <input [(ngModel)]="lecturerPassword" type="text" class="form-control" id="lecturer_password"
           placeholder="please enter password">
  </div>
  <p>
    <button class="btn btn-danger btn-sm px-5 py-2 mr-2" (click)="handleClearLecturer()">Clear</button>
    <button class="btn btn-primary btn-sm px-4 py-2" (click)="saveLecturer()">Save lecturer</button>
  </p>
</div>
