<div nz-row  class="py-2 my-4 px-3 card">

  <div *ngIf="!isShowChart">
    <span>Student Enrollment count chart
      <i class="fa fa-plus-circle float-right pt-1" aria-hidden="true" (click)="handleOnIsBarChartShow()"></i>
    </span>
  </div>

  <div *ngIf="isShowChart" nz-col nzSpan="12" class="py-3" >
    <h3>Student Enrollment count chart
      <i class="fas fa-times-circle float-right" (click)="handleOnIsBarChartShow()"></i>
    </h3>
    <div id="chart1" echarts [options]="options" theme="macaroons" class="demo-chart"></div>
  </div>
</div>
