<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
  <footer>
    <div class="row my-5 justify-content-center py-5">
      <div class="col-11">
        <div class="row ">
          <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
            <h3 class="text-muted mb-md-0 mb-5 bold-text">
              <a routerLink="">Course management system</a></h3>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
            <ul class="list-unstyled">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="dashboard">Dashboard</a></li>
              <li><a routerLink="sign-in">Sign in</a></li>
              <li><a routerLink="contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
            <p class="mb-1">Software Engineering Teaching Unit,</p>
            <p>University of Kelaniya,<br>Sri Lanka</p>
          </div>
        </div>
        <div class="row ">
          <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
            <small class="rights"><span>&#174;</span> Course Management System, All Rights Reserved 2020.</small>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
            <h6 class="mt-55 mt-2 text-muted bold-text"><a href="https://padmagnanapriya.github.io/">
              <b>Padma Gnanapriya</b></a></h6><small>
            <a href="mailto:padmaisuru@gmail.com">padmaisuru@gmail.com</a>
          </small>
          </div>

        </div>
      </div>
    </div>
  </footer>
</div>
