i{
  cursor: pointer;
}

i:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 576px){
  h3{
    font-size: 20px;
  }
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.error{
  color: red;
  font-weight: 500;
  font-size: x-small;
  padding-left: 20px;
}

select#lecturerId{
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px 5px 6px 5px;
}
