<div *ngIf="!isShowCourseRegistration" class="py-2 my-4 px-3 card">
    <span>Course Registration Form
      <i class="fa fa-plus-circle float-right pt-1" aria-hidden="true"
         (click)="handleOnIsCourseRegistrationShow()"></i>
    </span>
</div>

<div *ngIf="isShowCourseRegistration" class="py-4 my-4 px-3 card">
  <h3>
    Course Registration
    <i class="fas fa-times-circle float-right" (click)="handleOnIsCourseRegistrationShow()"></i>
  </h3>
  <form #OurForm="ngForm" (ngSubmit)="onSubmit(OurForm.value)">
    <div class="form-group">
      <label for="id">Id</label>
      <input id="id" required #id="ngModel" type="text" ngModel class="form-control" name="id"
             placeholder="Please Enter Id">
      <span *ngIf="id.invalid && id.touched" class="error">Id can not be null</span>
    </div>
    <div class="form-group">
      <label for="lecturerId">Lecturer Id</label>
      <input id="lecturerId" required #lecturerId="ngModel" type="text" ngModel class="form-control" name="lecturerId"
             placeholder="Please Enter Name">
      <span *ngIf="lecturerId.invalid && lecturerId.touched" class="error">Name can not be null.</span>
    </div>
    <div class="form-group">
      <label for="referenceBook">Reference</label>
      <input id="referenceBook" required #referenceBook="ngModel" type="text" ngModel class="form-control" name="referenceBook"
             placeholder="Enter reference here">
      <span *ngIf="referenceBook.invalid && referenceBook.touched" class="error">Reference can not be empty.</span>
    </div>

    <p>
      <button class="btn btn-danger btn-sm px-5 py-2 mr-2" (click)="handleClearCourse()">Clear</button>
      <button class="btn btn-success btn-sm px-4 py-2" type="submit" [disabled]="OurForm.form.invalid">Save Course
      </button>
    </p>
  </form>
</div>




